<div ng-controller="Rules as vm">
    <button type="button" ng-click="vm.requestList()" class="refresh-button btn btn-default btn-lg">
        <span aria-hidden="true" class="glyphicon glyphicon-refresh">Refresh</span></button>
    <div ng-if="!vm.error">
        <uib-accordion close-others="false">
            <uib-accordion-group heading="{{app}}" is-open="true" ng-repeat="(app, rules) in vm.list track by $index">
                <div ng-repeat="rule in rules" class="active">
                    <div class="rule-title">{{rule.name}}
                            <span ng-class="{'label-default': rule.stage === null,'label-primary': rule.stage === 'login_success','label-success': rule.stage === 'login_failure','label-info': rule.stage === 'pre_authorize','label-warning': rule.stage === 'user_registration','label-danger': rule.stage === 'user_blocked'}"
                                  class="rule-label label">{{rule.stage}}</span>
                    </div>
                    <div>Script:
                        <pre><code>{{rule.script}}</code></pre>
                    </div>
                    <div ng-class="{'alert-success': rule.enabled === true,'alert-danger': rule.enabled === false}"
                         class="alert">{{rule.enabled ? 'Enabled' : 'Disabled'}}
                    </div>
                    <div>Id: {{rule.id}}</div>
                    <div>Order: {{rule.order}}</div>
                    <hr class="rule-hr"/>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div ng-if="vm.error" role="alert" class="alert alert-danger">Error Getting Rules List</div>
</div>
