div(class='content')
    div(ng-if='!vm.auth.isAuthenticated')
        include login
    div(ng-if='vm.auth.isAuthenticated' ng-cloak)

        button(type="button" class="refresh-button btn btn-default btn-lg" ng-click="vm.requestList()")
            span(class="glyphicon glyphicon-refresh" aria-hidden="true") Refresh

        uib-accordion(close-others="false")
            uib-accordion-group(heading="{{app}}"
                                is-open="true"
                                ng-repeat='(app, rules) in vm.list track by $index')
                div(ng-repeat='rule in rules' class='active')
                    div(class="rule-title") {{rule.name}}
                        span(class='rule-label label'
                            ng-class="{" +
                            "'label-default': rule.stage === null," +
                            "'label-primary': rule.stage === 'login_success'," +
                            "'label-success': rule.stage === 'login_failure'," +
                            "'label-info': rule.stage === 'pre_authorize'," +
                            "'label-warning': rule.stage === 'user_registration'," +
                            "'label-danger': rule.stage === 'user_blocked'" +
                            "}") {{rule.stage}}
                    div Script:
                        pre
                            code {{rule.script}}
                    div(class="alert" ng-class="{" +
                    "'alert-success': rule.enabled === true," +
                    "'alert-danger': rule.enabled === false" +
                    "}") {{rule.enabled ? 'Enabled' : 'Disabled'}}
                    div Id: {{rule.id}}
                    div Order: {{rule.order}}
                    hr(class="rule-hr")

    div(ng-if="vm.error" class="alert alert-danger" role="alert") Error Getting Rules List
