div(class='content login' ng-controller='LoginCtrl as vm')
    h3 Please Login
    p To access the Auth0 Rules List You must be logged in
    a(ng-click="vm.login()" class="btn btn-primary btn-lg btn-block") SignIn
