extends layout

block content

    nav(class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as vm")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#") Auth0 Rules List
        div(id="navbar" class="collapse navbar-collapse")
          //ul(class="nav navbar-nav")
            li(ng-class="{active: vm.isActive('/')}")
              a(href='/') Home
            //li(ng-if='!vm.isLoggedIn()' ng-class="{active: vm.isActive('/login')}")
              a(href='/login') Login
            li(ng-if='vm.isLoggedIn()' ng-class="{active: vm.isActive('/profile')}")
              a(href='/profile') Profile

          ul(class="nav navbar-nav navbar-right")
            li(class="dropdown")
              a(href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                span(class="glyphicon glyphicon-cog" aria-hidden="true")
              ul(class="dropdown-menu")
                li(ng-if='vm.isLoggedIn()')
                  a(href="/profile") Profile
                li(ng-if='vm.isLoggedIn()')
                  a(ng-click="vm.logout()") Logout

    div(class="container" ng-view)

