doctype html
html(ng-app='app')
  head
    title Auth0 Rules List
    meta(charset='utf8')
    base(href='/')
    <!-- font awesome from BootstrapCDN -->
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js")
    script(src="//code.angularjs.org/1.2.16/angular-cookies.min.js")
    script(src="//cdn.auth0.com/js/lock-7.12.min.js")
    script(src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js")
    script(src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js")
    script(src="//cdn.auth0.com/w2/auth0-angular-4.js")

    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
    <!-- Bootstrap -->
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src='/js/global.js')
    script(src='/js/app.js')
    script(src='/js/controllers.js')