body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.content {
    padding: 40px 15px;
}

.login {
    text-align: center;
}

.refresh-button {
    margin-bottom: 10px;
    text-align: center;
}

.rule-title {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rule-label {
    margin-left: 10px;
}

.rule-hr {
    border-top: 5px solid #eee;
}